	/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/07/2018 12:49
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 3em;
font-style: normal;

}

.flaticon-man:before { content: "\f100"; }
.flaticon-head:before { content: "\f101"; }
.flaticon-gear:before { content: "\f102"; }
.flaticon-code:before { content: "\f103"; }
.flaticon-data-management-interface-symbol-with-gears-and-binary-code-numbers:before { content: "\f104"; }
.flaticon-paint-palette:before { content: "\f105"; }
.flaticon-paint:before { content: "\f106"; }
.flaticon-github-big-logo:before { content: "\f107"; }
.flaticon-linkedin-button:before { content: "\f108"; }
.flaticon-support:before { content: "\f109"; }
.flaticon-linkedin:before { content: "\f10a"; }
.flaticon-mail:before { content: "\f10b"; }
.flaticon-phone:before { content: "\f10c"; }
.flaticon-github:before { content: "\f10d"; }
