* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(47, 44, 38);
    --secondary-color: rgb(243, 72, 91);
    --font-color: rgb(235, 235, 235);
    --primary-background-color: rgba(0, 0, 0, 0.2);
}

body {
    background: url('../img/smoke-2437886_1920.jpg') center no-repeat;
    background-size: cover;
}

/* NAVIGATION  */

.nav {
    position: fixed;
    width: 100%;
    padding-top: 1rem;
}

.nav-brand {
    width: 40%;
    padding: 1em 0 0 2em;
    color: var(--secondary-color);
    float: left;
}

.nav-menu {
    min-width: 60%;
}

.nav-menu__toggle {
    display: none;
}

#nav-menu__toggle-action {
    display: none;
}

.nav-menu__box {
    float: right;
}

.nav-menu__items {
    text-decoration: none;
    color: var(--font-color);
    display: block;
    float: left;
    max-width: 25%;
    /* border: 1px var(--secondary-color) solid; */
    text-align: center;
    padding: 1%;
    fill: var(--font-color);
    padding-right: 1rem;
}

.nav-menu__items-description {
    display: none;
}

.nav-menu__items:hover {
    color: var(--secondary-color);
}

@media only screen and (max-width: 600px) {
    .nav-menu__toggle {
        display: block;
        color: var(--secondary-color);
        cursor: pointer;
        text-align: right;
        margin-right: 1rem;
    }
    .nav-menu__box {
        display: none;
    }
    .nav-menu__items {
        text-decoration: none;
        text-align: center;
        color: var(--font-color);
        display: block;
        clear: both;
    }
    #nav-menu__toggle-action:checked+.nav-menu__box {
        display: block;
    }
}

/* NAVIGATION END */

/* HERO */

#hero {
    min-height: 100vh;
    background: url('../img/laptop-2558400_1280.jpg') center no-repeat;
    background-size: cover;
}

.hero__description {
    text-align: center;
    padding-top: 50vh;
}

#about_me {
    min-height: 100vh;
    background: rgba(243, 72, 91, 0.2)
}