/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield');

/* '-' bootsrap style; "_" own style declaration */

/*all row and col in other section mast to have
a own padding and margin if necessary*/

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

.col-12 {
    padding: 0;
}

.navbar-nav > a {
    color: #000000;
}

body {
    background: url('../img/smoke-2437886_1920.jpg') center no-repeat;
    background-size: cover;

}