.nav-brand--style {
    color: #d32e38;
    font-family: 'Mrs Saint Delafield', cursive;
    font-weight: bold;
    font-size: 3rem;
    position:absolute;
    transform: skewY(-10deg);
}

.nav-brand--style {
    color: #d32e38;
    font-family: 'Mrs Saint Delafield', cursive;
    font-weight: bold;
    font-size: 3rem;
    position:absolute;
    transform: skewY(-10deg);
}

a > i {
    color: #ebebeb;
}
.nav-brand--main {
    color: #ebebeb;
    font-family: 'Mrs Saint Delafield', cursive;
    font-weight: bold;
    font-size: 3rem;
    transform: skewY(-10deg);

}

@media only screen and (max-width: 991px){
    .nav-brand--style {
        visibility: hidden;
    }
}